{% extends 'locations/base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="col-md-5 mx-auto">
        <div class="card p-4 shadow rounded-4">
            <h4 class="fw-bold text-center mb-3">Đặt lại mật khẩu</h4>

            <form method="post">
                {% csrf_token %}
                {{ form.new_password1 }}
                {{ form.new_password2 }}

                <button class="btn btn-success w-100 mt-3 rounded-pill">
                    Đổi mật khẩu
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}