{% extends 'locations/base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="card p-4 shadow rounded-4 col-md-5 mx-auto">
        <h4 class="fw-bold text-center mb-4">Đổi mật khẩu</h4>

        <form method="post">
            {% csrf_token %}

            <input type="password" name="old_password" class="form-control mb-3" placeholder="Mật khẩu cũ" required>
            <input type="password" name="new_password1" class="form-control mb-3" placeholder="Mật khẩu mới" required>
            <input type="password" name="new_password2" class="form-control mb-3" placeholder="Nhập lại mật khẩu" required>

            <button class="btn btn-warning w-100 rounded-pill">
                Cập nhật mật khẩu
            </button>
        </form>
    </div>
</div>
{% endblock %}